<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="utf-8">
    <title>QUIZZ HARRY POTTER</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="index.css">

    <style type="text/css">
      main {
        height: calc(100vh - 56px);
      }
      main[v-cloak] {
        display: none !important;
      }
      main.card {
        width: 45rem;
      }
    </style>

  <script> function 

</script>


  </head>
  

  <body>
    <div id="app" class="container">

      <nav class="navbar navbar-dark bg-primary">
        <span class="navbar-brand mb-2 h1">TESTEZ VOS CONNAISSANCES SUR L'UNIVERS D'HARRY POTTER</span>
      </nav>


      <main class="d-flex align-items-center justify-content-md-center" v-cloak> 
        <div class="card">

          <div class="card-body" v-if="current < quiz.length">
            <h4 class="card-title">{{ step.question }}</h4>

            <button v-if="step.choices" v-for="choice in step.choices" class="btn btn-lg btn-block" :class="buttonClasses(choice)" v-on:click="submitButton(choice)" :disabled="success === false">{{ choice }}</button>

           

            <p class="lead mt-2" v-if="success === true">Bien vu !</p>
          <p class="lead mt-2" v-if="success === false">Raté ! <span v-if="!step.choices">La réponse était {{ step.answer }}</span></p>
          <button class="btn btn-dark btn-lg btn-block" v-if="success !== null" v-on:click="nextQuestion">Prochaine question</button>
        </div>

<div class="card-body" v-if="current == quiz.length">
          <h4 class="card-title">Vous avez terminé !</h4>
          <p class="card-text">Affiche le score ici !</p>
        </div>
      </div>
    </main> 
    </div>
    <script src="vendors/vue.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="./quiz.js"></script>
    <script src="./app.js"></script>
  </body>

</html>
