body {
	font-family: 'Lato', sans-serif;
}

p {
	font-weight: bold;
	font-size: 20px;
}

#quiz {

	margin-left: 300px;
	background: #CC9933;
	padding: 10px 20px 10px 20px;
	width: 700px;
	border-radius: 20px;
	float: center;
}


input {
	margin-bottom: 20px;
}

#button {

	background: #0066CC;
	border: none;
	border-radius: 5px;
	padding: 10px;
	color: white;
	font-size: 16px;
	transition-duration: .5s;
	margin-top: 15px;
}

#button:hover {

	background: white;
	border: 1px solid blue;
	color: black;
	cursor: pointer;
}



#after_submit {
	visibility: hidden;
	background: #CC3333;
	padding: 10px 20px 10px 20px;
	width: 700px;
	border-radius: 20px;
	float: left;
	margin-left: 300px;
	font-size: 30px;
	margin-top: 10px;
	font-weight: 100;

}




 