body {
	font-family: 'Lato', sans-serif;
}

p {
	font-weight: bold;
	font-size: 20px;
}

header p.lead {
	font-size: bigger;
}

header p {
	font-weight: normal
}

#quiz {

	background: #CC9933;
	padding: 10px 20px 10px 20px;
	width: 700px;
	border-radius: 20px;
	float: center;
	margin: auto;
}

#quiz img {
	width: 100%;
}


input {
	margin-bottom: 20px;
}

#button {

	background: #0066CC;
	border: none;
	border-radius: 5px;
	padding: 10px;
	color: white;
	font-size: 16px;
	transition-duration: .5s;
	margin-top: 15px;
}

#button:hover {

	background: white;
	border: 1px solid blue;
	color: black;
	cursor: pointer;
}


.answer {
	visibility: hidden;
	background-color: #CC3333;
	color: black;
	border-radius: 10px;
	border: 10px;
	font-weight: normal;
	font-size: 18px;
	padding: 10px;

}

#after_submit {
	visibility: hidden;
	background: #CC3333;
	padding: 10px 20px 10px 20px;
	width: 700px;
	border-radius: 20px;
	float: center;
	margin: auto;
	font-size: 30px;
	margin-top: 10px;

}

#after_submit img {
	width: 100%;
}




 